@charset "utf-8";

@media screen and (max-width: 450px){
	.pers_info label {
display: none;
	}
}

@media (max-width: 450px){
	.pers_info label {
display: none;
	}

body {
		width: 100%;
		margin: 0;
		padding: 0 0 2em;
	}

}
/*basic styles*/
html, body, header {
    margin: 0;
    font-size: 12px;
}
html {
	background: #00b7a4;
}
body {
	font: 100% Lato, Helvetica, sans-serif;
	background: white;
	width: 80%;
	margin: 0 auto 2em auto;
	padding: 2%;
	line-height: 1.6;
}
article, aside, section, nav, figure, header, footer {
	display: block;
}
h1, h2, h3, h4 {
	font-weight: normal;
	font-family: LatoLight, Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(26, 25, 25, 0.75);
	color:#00b7a4;
	margin: 0;
	line-height: 1;
}
h1 {
	font-size: 2.6em;
	text-transform: uppercase;
}
h2 {
	font-size: 2em;
	text-transform: capitalize;
}
h3 {
	font-size: 1.8em;
	text-transform: uppercase;
}
h4 {
	font: 1.2em Lato, Helvetica, sans-serif;
	color: black;
}
p
 {
	margin: 0 0 1em;
}
a {
	color: #77A0B8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
code {
	color: red;
}

li a {
	color: #00b7a4;
}


.volunteer-form {
	line-height: 1.4;
	}
.form-group, .form-comm {
	background: rgba(51, 183, 210, 0.3);
	margin-bottom: 1em;
	padding: 5px;
}
.form-group ul, .form-comm ul {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
}
.form-group li {
	margin-bottom: 0.5em;
	list-style: none;

}
.form-group h3 {
	margin-bottom: 0.5em;
}

.form-fields input[type="text"],
.form-fields input[type="tel"],
.form-fields input[type="url"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #00b7a4;
  background: #f1f1f1;
  border: 1px solid #33b7d2;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
}
.form-fields input[type="text"]:focus,
.form-fields input[type="tel"]:focus,
.form-fields input[type="url"]:focus,
.form-fields input[type="email"]:focus,
.form-fields input[type="number"]:focus,
.form-comm textarea:focus,
.form-fields select:focus {
  color: #00b7a4;
  border: 1px solid #33b7d2;
  outline: none;
  background: #f2f2f2;
}
.form-comm textarea, .form-group textarea {
    display: block;
    box-sizing: border-box;
	font-family: sans-serif;
    width: 90%;
    height: 4em;
    overflow: auto;
    padding: 0.6em 0.8em;
    color: #00b7a4;
    background: #f7f7f7;
    border: 1px solid #33b7d2;
    line-height: normal;
}
.submit-btn {
	border-radius: 5px;
	box-sizing: content-box;
	background: #00b7a4;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	padding: 0.35em 0.75em;
	border: #33b7d2;
	font-size: 2.5em;
	text-decoration: none;
	cursor: pointer;
}
.submit-btn:hover,
.submit-btn:focus {
	background: #33b7d2;
}
/*flex it*/
.form-fields li {
	display: flex;
	flex-wrap: wrap;
}
.form-fields input[type="text"],
.form-fields input[type="tel"],
.form-fields input[type="url"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
	flex: 1 0 230px;
}
.form-fields label {
	flex: 1 0 90px;
	max-width: 200px;
}

.form-service, .form-other {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-service li {
	width: 210px;
	list-style: none;

}
.form-service label {
	text-transform: capitalize;
}

.form-other li {
	flex: 1 0 200px;
}

.mast {
	margin:1em 0 2em 0;;
}